[Unit]
Description=My .NET Application as a Service

[Service]
WorkingDirectory=/opt/agent
ExecStart=/opt/agent/SoftwareAgentService
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=agent-example
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target